<!-- Page Content -->
<div class="content" [dir]="language == 'ar'?'rtl':'ltr'">
    <!-- Login Tab Content -->
    <!-- <div class="container-banner">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 col-lg-6 login-left">
                <img src="assets/img/loginp.png" class="img-fluid" alt="Login" style="padding: 18px;">
              </div>
              <div class="col-md-12 col-lg-6 login-right" style="background-color: #ededed;">
                <div class="login-header">
                  <h3>{{ language == 'ar'?'دخول': 'Accés'}} <span>SilaDoc</span></h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label>{{language == 'ar'?'اسم المستخدم':'Utilisateur'}}</label>
                    <form-input name="name" [append]="'fi feather-user'" class="input" id="userName" formControlName="userName" name="userName"></form-input>
                    <div *ngIf="submited">
                      <span *ngIf="f['userName'].invalid && f['userName'].errors!['required']" style="color: red;">
                        Email / telephone est requis
                      </span>
                      <span *ngIf="f['userName'].invalid && f['userName'].errors!['notFound']" style="color: red;">
                        E-mail / telephone ne correspond a aucun utlisateur.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{language == 'ar'?'كلمة المرور': 'Mot de Passe'}}</label>
                    <div class="password">
                      <form-input [type]="'password'" class="input" name="password" id="password" formControlName="userPassword" name="userPassword"></form-input>
                    </div>
                    <div *ngIf="submited">
                      <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['required']" style="color: red;">
                        Mot de passe est requis
                      </span>
                      <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['minlength']" style="color: red;">
                        Mot de passe doit avoir au moins 6 caractères
                      </span>
                      <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['invalidPassword']" style="color: red;">
                        Mot de passe invalid
                      </span>
                    </div>
                  </div>
                  <span *ngIf="invalidLogin" style="color: red;">Email ou Mot de Passe
                    incorrecte</span>

                  <div class="text-start">
                    <a class="forgot-link" [routerLink]="['../','forgot-password']">{{language == 'ar'?' نسيت كلمة المرور ؟ ':'Oublie Mot de Passe ?'}}</a>
                  </div>
                  <button class="btn btn-primary btn-lg login-btn" type="submit">{{language == 'ar'?'تسجيل دخول':'Se connecter'}}</button>

                  <div class="text-center dont-have">{{language == 'ar'?'ليس لديك حساب ؟': 'Je n\'ai pas de compte?'}} <a [routerLink]="['../','register']">{{
                      language == 'ar'?
                      'سجل حسابك':
                      'Enregistrer'
                      }}</a></div>
                </form>
              </div>
            </div>
          </div> -->
    <!-- /Login Tab Content -->
    <div class="container-banner">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="account-content">
                    <div class="content row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="/assets/img/loginp.png" class="img-fluid" alt="Doccure Register" />
                        </div>
                        <div class="col-md-12 col-lg-6 login-right" style="margin-top: 24px;">
                            <form id="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <form-input
                                            name="name"
                                            [append]="'fi feather-user'"
                                            id="userName"
                                            formControlName="userName"
                                            name="userName"
                                    ></form-input>
                                    <div *ngIf="submited">
                    <span *ngIf="f['userName'].invalid && f['userName'].errors!['required']" style="color: red;">
                      Email / telephone est requis
                    </span>
                                        <span *ngIf="f['userName'].invalid && f['userName'].errors!['notFound']" style="color: red;">
                      E-mail / telephone ne correspond a aucun utlisateur.
                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <form-input [type]="'password'"   name="password" id="password" formControlName="userPassword" name="userPassword"></form-input>
                                </div>
                                <div *ngIf="submited">
                  <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['required']" style="color: red;">
                    Mot de passe est requis
                  </span>
                                    <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['minlength']" style="color: red;">
                    Mot de passe doit avoir au moins 6 caractères
                  </span>
                                    <span *ngIf="f['userPassword'].invalid && f['userPassword'].errors!['invalidPassword']" style="color: red;">
                    Mot de passe invalid
                  </span>
                                </div>
                                <span *ngIf="invalidLogin" style="color: red;">Email ou Mot de Passe incorrecte</span>
                                <a class="forgot-link" [routerLink]="['../','forgot-password']"
                                >{{language == 'ar'?' نسيت كلمة المرور ؟ ':'Oublie Mot de Passe ?'}}</a
                                >

                                <div class="actions-container">
                                    <button type="submit">{{language == 'ar'?'تسجيل دخول':'Se connecter'}}</button>
                                </div>
                            </form>
                            <h1>Je n'ai pas de compte?</h1>
                            <div class="text-center">
                                <a class="btn small btm" [routerLink]="['../','register']">{{ language == 'ar'? 'سجل حسابك': 'Enregistrer' }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
