.accordion-label,
.accordion-content {
  padding: 5px 10px;
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: white;
  

}

label:hover {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.accordion-label:after {
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  position: relative;
}

.active:after {
  content: "\2796"; 
}

.accordion-content {
  background: white;
  line-height: 1.6;
  font-size: 0.85em;
  margin-bottom: 5px;
}

.accordion {
  max-width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(secondary-dark);
  margin-bottom: 5px;
  
}


.col-header-icon {
  padding-top: 15px;
  opacity: 0.65;
  color: rgb(0, 0, 0);
  font-size: 20px;
  left: 83%;
  font-weight: bold;
  position: relative;
}

.col-header {
  flex-direction: row;
  opacity: 0.65;
  color: rgb(0, 0, 0);
  font-weight: bold;
}


.section-accordion{
    padding: 15px;
    height:400px;

}



  .accordion .accordion-content {
    background-color: white;
    margin-bottom: 15px;
	border-radius: 0.5rem;

}

.accordion-content.is-open{
  padding-bottom: 10px;
}
.accordion-content header{
  display:flex;
  min-height: 30px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition:all 0.2s linear;
}
.accordion-content.is-open header{
  min-height: 35px;
  
}
.accordion-content.is-open .accordion-content-description{
  display: block;

}
.accordion-content-title{
  font-size: 16px;
  color:#000000;
font-family: "Gotham Rounded Bold"}

.accordion-content-description{
  height:0;
  font-size: 14px;
  color:#000000;
  font-weight: 400;
  padding: 0 15px;
  display: none;
}

@media (min-width: 1025px) {
  
  .accordion{
    width: 100%;
	margin-right:auto;
	margin-left:auto;
    padding-top: 15px;
    
  }
  
  
}
@media (max-width: 1024px) {
  
  .accordion{
    width: 100%;
	margin-right:auto;
	margin-left:auto;
    padding-top: 15px;
    
  }
  
  
}
@media only screen and (max-width: 412.98px) {
  .accordion{
    width:100%;
  
  }
  .iframe{
    width: 100%;
    padding: 5px;
    height: 100%;
  }
}
@media (max-width:991px) {
  .accordion{
    padding-top: 15px;
  }
}