.tableau-view {
    border: 1px solid var(--secondary);
    width: auto;
}



.ligne {
    flex-flow: row;
    align-items: center;
}

.col {
    padding: 12px;
    padding-left: 30px;
    opacity: 0.65;
    background-color: var(--danger-light);
    border: 1px solid var(--secondary);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 90%;
    font-weight: bold;
}

.col.active {
    background-color: var(--danger);
    color: white;
}

.col:hover {
    background-color: var(--danger);
    color: white;
}





.card {
    z-index: 2;
    position: relative;
    padding: 20px;
}

.card-icon {
    width: 3rem;
    height: auto;
}
.h-md-220 {
    height: 200px;
    text-align: center;
}

.cont:active .transition,
.cont:hover .transition {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
}
.cont:active .transition,
.cont:hover .transition {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition-delay: .1s;
}
.transition {
    transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear,-webkit-transform .25s linear;
}
.transition {
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}

.column-md {
    flex-direction: column;
}
.ml-auto {
	display: flex;
    align-items: center !important;
}